body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 48px;
    color: #4285F4; /* blue color for the title */
}

p {
    font-size: 18px;
    margin: 20px 0;
}

.email-button {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 25px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.email-button:before {
  content: "";
  position: absolute;
  inset: -0.25em;
  z-index: -1;
  border: 0.25em solid hsl(260, 97%, 50%, 0.5);
  border-radius: 25px;
  opacity: 0;
  transition: opacity 0.4s;
}

.email-button:hover:before {
  opacity: 1;
}

.email-button:hover {
  background-color: #357a38; /* Darker shade when hovered */
}
