body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 48px;
    color: #4285F4; /* blue color for the title */
}

p {
    font-size: 18px;
    margin: 20px 0;
}
