body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 48px;
    color: #4285F4; /* blue color for the title */
}

p {
    font-size: 18px;
    margin: 20px 0;
}

.sparkle
path:nth-of-type(1) {
    --scale 0.5;
    --delay: 0.1;
    --base: 40%;
}
.sparkle
path:nth-of-type(2) {
    --scale: 1.5;
    --delay: 0.2;
    --base: 20%;
}
button:before {
  content: "";
  position: absolute;
  inset: -0.25em;
  z-index: -1;
  border: 0.25em solid hsl(260, 97%, 50%, 0.5); /* Glowing border */
  border-radius: 100px;
  opacity: var(--active, 0);
  transition: opacity var(--transition);
}
.backdrop {
  position: absolute;
  inset: var(--cut);
  background: var(--bg);
  border-radius: 100px;
  transition: background var(--transition);
}
    
